<!-- Calculate the post's reading time, and display the word count in tooltip -->

{% assign words = include.content | strip_html | number_of_words: 'auto' %}

<!-- words per minute -->

{% assign wpm = 180 %}
{% assign min_time = 1 %}

{% assign read_time = words | divided_by: wpm %}

{% unless read_time > 0 %}
  {% assign read_time = min_time %}
{% endunless %}


<!-- return element -->
<span
  class="readtime"
  data-bs-toggle="tooltip"
  data-bs-placement="bottom"
  {% capture _words_prefix %}{{ words }} {% endcapture %}{% include t-attr.html attr="title" key="post.words" prefix=_words_prefix %}
>
  <em>
    {{- read_time -}}
    {{ ' ' }}
    {%- include t.html key="post.read_time.unit" -%}
  </em>
  {%- if include.prompt -%}
    {%- include t.html en=' read' es=' de lectura' -%}
  {%- endif -%}
</span>
